<div class='container'>
<div class='holder'>


<%= form_for @foodtype do |f| %>
  <%= f.label :name, 'Foodtype name:' %>
  <%= f.text_field :name %>
  <br>

  
 
  <br>
  <%= f.submit 'Update Foodtype Details!!' %>
<% end %>

</div>
</div>